<nav>

  <h2>Meeting Notes</h2>
  <ul>
    <li>
      <a href="https://hackmd.io/d0lpI2sNTJOtvLlE4_86Cg?edit">All Hands: Full</a> :seedling:
      <a href="https://link.hypha.coop/template" target="_blank" class="small light">template</a>
    </li>
    <li>
      <del><a href="https://hackmd.io/LXg-o9b7QIO_lyeHPirH8A?edit">All Hands: Standup</a> :seedling:
      <a href="https://link.hypha.coop/standup-template" target="_blank" class="small light">template</a></del>&nbsp;[deprecated]
    </li>
    <li>
      <a href="https://hackmd.io/1JMsZ8IdSb6bp4VFB1dUtw?edit">WG: Business Planning</a> :seedling:
      <a href="https://link.hypha.coop/wg-template" target="_blank" class="small light">template</a>
    </li>
    <li>
      <a href="https://hackmd.io/YclYMO0KTT2n_5xmArdMDA?edit">WG: Finance</a> :seedling:
      <a href="https://link.hypha.coop/wg-template" target="_blank" class="small light">template</a>
    </li>
    <li>
      <a href="https://hackmd.io/JT5qnRwnTs6J3vLlf4UyFA?edit">WG: Governance</a> :seedling:
      <a href="https://link.hypha.coop/wg-gov-template" target="_blank" class="small light">template</a>
    </li>    
    <li>
      <a href="https://hackmd.io/C8uSvttkR1OaQWFNcRQWvQ?edit">WG: Infrastructure</a> :seedling:
      <a href="https://link.hypha.coop/wg-template" target="_blank" class="small light">template</a>
    </li>
    <li>
      <a href="https://hackmd.io/JT5qnRwnTs6J3vLlf4UyFA?edit">WG: Operations</a> :seedling:
      <a href="https://link.hypha.coop/wg-ops-template" target="_blank" class="small light">template</a>
    </li>
    <li>
      <span class="small">
        Archive as
        <a href="{{ site.public-repo-url }}/new/master?filename=_posts/meeting-notes/{{ site.time | date: '%Y' }}-MM-DD-.md" target="_blank">open access</a>
      </span>
    </li>
    <li>
      <span class="small">
        Archive as
        <a href="{{ site.private-repo-url }}/new/master?filename=meeting-notes/{{ site.time | date: '%Y' }}-MM-DD-.md" target="_blank">restricted access</a>
        with
        <a href="{{ site.public-repo-url }}/new/master?filename=_posts/private/meeting-notes/{{ site.time | date: '%Y' }}-MM-DD-.md&value={{ 'Empty file for public indexing of access-restricted file.' | uri_escape }}" target="_blank">public stub</a>
      </span>
    </li>
  </ul>

  {% for section in site.nav-sections %}
    <h3>{{ section.title }}</h3>
    {% if section.show_archive_links %}
    {% capture private_path %}private/{{ section.path }}{% endcapture %}
    <ul class="archive-links">
      <li>
        <span class="small">
          Archive as
          <a href="{{ site.public-repo-url }}/new/master?filename=_posts/{{ section.path }}{{ site.time | date: '%Y' }}-MM-DD-.md" target="_blank">open access</a>
        </span>
      </li>
      <li>
        <span class="small">
          Archive as
          <a href="{{ site.private-repo-url }}/new/master?filename={{ section.path }}{{ site.time | date: '%Y' }}-MM-DD-.md" target="_blank">restricted access</a>
          with
          <a href="{{ site.public-repo-url }}/new/master?filename=_posts/{{ private_path }}{{ site.time | date: '%Y' }}-MM-DD-.md&value={{ 'Empty file for public indexing of access-restricted file.' | uri_escape }}" target="_blank">public stub</a>
        </span>
      </li>
    </ul>
    {% endif section.show_archive_links %}
    <ul>
      {% for post in site.posts %}
        {% capture private_path %}private/{{ section.path }}{% endcapture %}
        {% if post.path contains private_path %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }} {{ post.title }}</a> :lock:
          </li>
        {% elsif post.path contains section.path %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }} {{ post.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}

</nav>
