---
---

@import "minima";

.wrapper {
  position:relative;
  float: left;
  overflow: auto;
  width: 70%;
  height: 100%;
}

nav {
  position: relative;
  float: right;
  overflow: auto;
  width: 30%;
  height: 100%;

  h2, h3 {
    margin-left: 30px;
  }

  ul {
    list-style-type: none;
  }
}

.small {
  font-size: 0.75em;
}

a.light {
    color: #ccc;
}
